.onedoctor_page-main-content2 {
  font-family: 'Roboto', sans-serif;
}
.onedoctor_page-main-content2 h2 {
  font-size: 21px;
  color: #000;
  height: 70px;
  line-height: 70px;
  padding-left: 25px;
}
.onedoctor-slider2 {
  position: relative;
}
.onedoctor-slider2 .pp5 {
  position: absolute;
  top: 375px;
  cursor: pointer;
  left: -30px;
}
.onedoctor-slider2 .nn5 {
  position: absolute;
  right: 0;
  top: 375px;
  cursor: pointer;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-box-shadow: 1px 2px 55px -10px rgba(0, 0, 0, 0.84);
  -moz-box-shadow: 1px 2px 55px -10px rgba(0, 0, 0, 0.84);
  box-shadow: 1px 2px 55px -10px rgba(0, 0, 0, 0.84);
}
.onedoctor-slider2 .info-column {
  background: #DEDEDE;
}
.onedoctor-slider2 .info-column img.big-pic {
  width: 100%;
  height: 100%;
}
.onedoctor-slider2 .doctor-info {
  position: relative;
}
.onedoctor-slider2 .doctor-info span.close-btn {
  position: absolute;
  right: 45px;
  top: 35px;
  cursor: pointer;
}
.onedoctor-slider2 .doctor-info h3 {
  color: #595969;
  font-size: 20px;
  margin-top: 67px;
  margin-bottom: 12px;
}
.onedoctor-slider2 .doctor-info h3:after {
  content: "";
  display: block;
  width: 263px;
  height: 3px;
  background: #00B46B;
  margin-top: 12px;
}
.onedoctor-slider2 .doctor-info h4 {
  color: #595969;
  font-size: 20px;
  text-transform: uppercase;
}
.onedoctor-slider2 .doctor-info p.history {
  font-size: 15px;
  color: #595969;
  margin-top: 28px;
}
.onedoctor-slider2 .doctor-info .reviews {
  position: relative;
  margin-top: 30px;
}
.onedoctor-slider2 .doctor-info .reviews a {
  display: inline-block;
  color: #00B264;
  font-size: 16px;
  max-width: 202px;
  width: 100%;
  padding-left: 70px;
  border: 2px solid #688EC8;
  border-radius: 60px;
  line-height: 19px;
  padding-top: 15px;
  padding-bottom: 20px;
  text-decoration: none;
  transition-timing-function: ease-in;
  transition-duration: 0.5s;
}
.onedoctor-slider2 .doctor-info .reviews a span {
  background: url('../img/onedoctor-review-icon.png') no-repeat;
  background-size: cover;
  width: 40px;
  height: 38px;
  position: absolute;
  left: 18px;
  padding-left: 10px;
  padding-top: 7px;
}
.onedoctor-slider2 .doctor-info .reviews a:hover {
  background: #a9b4ce;
  color: #fff;
}
.onedoctor-slider2 .doctor-info .reviews:after {
  content: "";
  display: block;
  width: 263px;
  height: 3px;
  background: #00B46B;
  margin-top: 30px;
}
.onedoctor-slider2 .doctor-cabinet {
  margin-top: 14px;
}
.onedoctor-slider2 .doctor-cabinet p {
  color: #595969;
  font-size: 17px;
  margin-bottom: 10px;
}
.onedoctor-slider2 .doctor-cabinet img {
  float: left;
  margin-right: 22px;
}
.onedoctor-slider2 .doctor-sum p {
  color: #595969;
  font-size: 17px;
}
.onedoctor-slider2 .doctor-sum p:before {
  content: "";
  display: block;
  width: 263px;
  height: 3px;
  background: #00B46B;
  margin-top: 16px;
  margin-bottom: 20px;
}
.onedoctor-slider2 .doctor-sum span.threed {
  display: block;
  font-size: 17px;
  color: #00B46B;
  margin-top: 30px;
}
.onedoctor-slider2 .doctor-sum span.rest-text {
  display: block;
  color: #595969;
  font-size: 13px;
  margin-top: 12px;
}
.onedoctor-slider2 .doctor-sum a.hashword {
  font-size: 12px;
  color: #595969;
}
.onedoctor-slider2 .onedoctor-social {
  padding-left: 35px;
}
.onedoctor-slider2 .onedoctor-social span.share-text {
  margin-right: 14px;
}
.onedoctor-slider-inner2 div[class^="col"] {
  padding-left: 0;
  padding-right: 0;
}
.onedoctor-slider-inner2 .info-column.col-lg-4 {
  padding-left: 0;
  padding-right: 0;
}
.onedoctor-slider-inner2 .info-column.col-lg-5 {
  padding-left: 0;
  padding-right: 0;
}
.onedoctor-slider2 .row {
  display: flex;
}
.onedoctor-slider2 .info-column {
  display: flex;
}
.onedoctor-slider2 .slider-item-basis {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}
.onedoctor_page-main-content2 {
  transition: all 1s;
}
.onedoctor_page-main-content2.open {
  padding-left: 0px;
}
.onedoctor_page-main-content2 .col-lg-5 {
  transition: all 1s;
}
.onedoctor_page-main-content2 .col-lg-7 {
  transition: all 1s;
}
.onedoctor_page-footer {
  margin-top: 0 !important;
}
.onedoctor_page-footer:before {
  z-index: 3 !important;
}
.actual-height {
  height: 1055px;
  background: #fff;
}
.onedoctor_page-footer2 .footer-nav {
  position: relative;
  z-index: 100;
}
.onedoctor_page-footer2 h5 {
  position: relative;
  z-index: 100;
}
.onedoctor_page-main-content2 h2 {
  transition: all 1s;
}
.onedoctor_page-main-content2 h2.open {
  padding-left: 405px;
}
