.photogallery_page-main-content {
  padding-left: 85px;
  padding-right: 85px;
}
.photogallery_page-main-content .breadcrumb {
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  padding: 12px 0px 8px 0px;
  margin-bottom: 12px;
}
.photogallery_page-main-content .breadcrumb li a {
  color: #595968;
  font-size: 12px;
  text-decoration: none;
}
.photogallery_page-main-content h1 {
  font-size: 21px;
  color: #595968;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
}
.photogallery_page-main-nav {
  font-family: 'Roboto', sans-serif;
}
.photogallery_page-main-nav ul li {
  display: inline-block;
  margin-right: 45px;
}
.photogallery_page-main-nav ul li a {
  font-size: 14px;
  color: #595968;
  text-decoration: none;
}
.photogallery_page-main-nav ul li .active {
  text-decoration: none;
  color: #58B36F;
}
.photogallery_page-gallery {
  margin-top: 20px;
}
.photogallery_page-gallery .photogallery_page-gallery-photoitem {
  margin-bottom: 50px;
}
.photogallery_page-gallery .photogallery_page-gallery-photoitem .n-hover img {
  width: 100%;
  height: auto;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}
.photogallery_page-gallery .photogallery_page-gallery-photoitem span.tags {
  display: block;
}
.n-hover:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.n-hover {
  position: relative;
  width: 100%;
  line-height: 0;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  text-align: center;
}
.n-hover:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}
.n-hover:hover:after {
  background: rgba(137, 184, 147, 0.6);
}
.photo-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}
.photo-wrapper img {
  width: 100%;
  height: auto;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}
.n-hover span {
  content: "";
  display: block;
  background: url('../img/photogallery-little-sprite.png') no-repeat;
  background-position: 20px 0px;
  position: absolute;
  z-index: 100;
  width: 100px;
  height: 60px;
  left: 0;
  right: 0;
  top: 42%;
  margin: 0 auto;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  opacity: 0;
}
.n-hover a {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  z-index: 222;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 60%;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  opacity: 0;
}
.n-hover:hover a {
  opacity: 1;
}
.n-hover:hover span {
  opacity: 1;
}
.photogallery_page-gallery .heading {
  display: inline-block;
  color: #00B46B;
  font-size: 17px;
  margin-top: 30px;
  margin-bottom: 28px;
  text-decoration: none;
}
.photogallery_page-gallery .hash {
  font-size: 13px;
  color: #545454;
  margin-right: 4px;
  text-decoration: none;
  transition-timing-function: ease-in;
  transition-duration: 0.5s;
}
.photogallery_page-gallery .hash:hover {
  color: #6394C4;
}
.photogallery_page-pagination {
  margin-bottom: 43px;
}
.photogallery_page-pagination a {
  display: inline-block;
  line-height: 22px;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  color: #595969;
  font-size: 14px;
  transition-timing-function: ease-in;
  transition-duration: 0.5s;
}
.photogallery_page-pagination ul {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
.photogallery_page-pagination ul li {
  display: inline-block;
  margin-right: 2px;
  margin-left: 2px;
}
.photogallery_page-pagination ul li a {
  width: 22px;
  height: 22px;
  background: #58B36F;
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  border-radius: 50%;
  font-size: 13px;
  transition-timing-function: ease-in;
  transition-duration: 0.5s;
}
.photogallery_page-pagination ul li a:hover {
  background: #C7E2CE;
}
.photogallery_page-pagination ul li .active {
  background: #C7E2CE;
  cursor: default;
}
.photogallery_page-gradient-block .doctors,
.photogallery_page-gradient-block .schedule,
.photogallery_page-gradient-block .order,
.photogallery_page-gradient-block .reviews,
.photogallery_page-gradient-block .contacts,
.photogallery_page-gradient-block .your-question {
  /* IE10+ */
  background-image: -ms-linear-gradient(top, #6f91c9 0%, #5574a1 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #6f91c9 0%, #5574a1 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #6f91c9 0%, #5574a1 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6f91c9), color-stop(100, #5574a1));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #6f91c9 0%, #5574a1 100%);
  /* W3C Markup */
  background-image: linear-gradient(to bottom, #6f91c9 0%, #5574a1 100%);
}
.photogallery_page-gradient-block .doctors a,
.photogallery_page-gradient-block .schedule a,
.photogallery_page-gradient-block .order a,
.photogallery_page-gradient-block .reviews a,
.photogallery_page-gradient-block .contacts a,
.photogallery_page-gradient-block .your-question a {
  color: #E9E9E9;
}
